body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

  }

  main {
    flex: 1 0 auto;
  }
  .rad{
  	border-radius: 20px;
  	padding:30px;
  	width: 100%;
  	height: auto;
	display: block;
  }

 .letra{
  	font-size: 14px;
  }